@font-face {
  font-family: "Samantha Upright";
  src: url("../fonts/Samantha Upright.ttf");
  src: url("../fonts/Samantha Upright.otf");
}
@font-face {
  font-family: "Little Star Story";
  src: url("../fonts/Little Star Story.otf");
}
html {
  font-size: 62.5%;
}

body, div, section, header {
  margin: 0;
  padding: 0;
}

body div.wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  background-image: url(../images/bg.jpg);
  background-size: 100px;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
}
body div.wrap a {
  text-decoration: none;
  color: #3030bb;
}
body div.wrap a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #ffe8c3;
  padding: 0 2px;
  border: 2px inset #ffe8c3;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/happy.jpg");
  transition: 1s ease-out;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 30%;
  background-attachment: fixed;
  image-rendering: smooth;
}
@media (max-width: 800px) {
  header {
    height: 30vh;
  }
}
@media (max-width: 1500px) {
  header {
    background-position-y: 0;
  }
}
header.small {
  height: 50vh;
}
@media (max-width: 800px) {
  header.small {
    height: 30vh;
  }
}
header.small div.imgs img {
  margin-top: 15px;
}
header.small div.imgs img:nth-child(1) {
  height: 7.5vw;
}
@media (max-width: 800px) {
  header.small div.imgs img:nth-child(2) {
    height: 20vw;
    margin-top: 25%;
  }
}
header div.imgs {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 800px) {
  header div.imgs {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-top: auto;
  }
}
header div.imgs img {
  margin-top: 25%;
  height: 20vw;
  filter: drop-shadow(7.5px 7.5px 4px black);
  image-rendering: smooth;
  transition: 1s ease-out;
}
@media (max-width: 800px) {
  header div.imgs img:nth-child(1) {
    opacity: 0;
  }
}
@media (max-width: 800px) {
  header div.imgs img:nth-child(2) {
    margin-top: 25%;
  }
}

#root {
  width: 100%;
}
#root nav {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  position: sticky;
  top: -1px;
  background: linear-gradient(#3030bb, 80%, transparent);
  margin-top: -1px;
  transition: 0.2s ease;
}
@media (max-width: 800px) {
  #root nav {
    margin: 75px 0 0;
    background: none;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: auto;
  }
  #root nav a {
    transform: translateX(calc(-60vw));
    transition-duration: 0s;
    width: 50vw;
    margin-top: -1px;
    background: #3030bb;
  }
  #root nav a:nth-child(1) {
    transition-duration: .4s;
  }
  #root nav a:nth-child(2) {
    transition-duration: .5s;
  }
  #root nav a:nth-child(3) {
    transition-duration: .6s;
  }
  #root nav a:nth-child(4) {
    transition-duration: .7s;
  }
  #root nav a:nth-child(5) {
    transition-duration: .8s;
  }
  #root nav a:nth-child(6) {
    transition-duration: .9s;
  }
  #root nav.open a {
    transform: translateX(0);
  }
}
#root nav a {
  color: #ffcc00;
  padding: 15px 5%;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.2s ease;
}
@media (max-width: 800px) {
  #root nav a {
    padding: 15px 2%;
    background: #3030bb;
    width: 50vw;
    text-align: center;
  }
}
#root nav a:hover, #root nav a.active {
  font-size: 1.7rem;
  font-weight: bolder;
}
#root section.routes {
  min-height: 37vh;
  margin: -50px auto 0;
  width: 80%;
  background: whitesmoke;
  padding: 100px 30px 15px;
  font-size: 2.5rem;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
#root section.routes p, #root section.routes img {
  max-width: calc(100% - 60px);
}
@media (max-width: 800px) {
  #root section.routes {
    padding: 100px 0 15px;
    width: 100%;
    min-height: 46.5vh;
  }
  #root section.routes p, #root section.routes img {
    margin: auto 15px;
    max-width: calc(100% - 30px);
  }
}
#root section.routes div.lily_about {
  width: 141.5px;
  height: 226.1px;
  margin-top: 30px;
  margin-right: 15px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 5px 2.5px inset whitesmoke;
  background: url(../images/lily_smile_crop_1.jpg);
  background-size: contain;
}
#root section.routes div.lily_main {
  width: 173px;
  height: 171px;
  margin-top: 30px;
  margin-right: 15px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 5px 2.5px inset whitesmoke;
  background: url(../images/lily_baby_crop.jpg);
  background-size: contain;
}

div.burger {
  z-index: 50;
  width: 0;
  height: 0;
  box-shadow: 2px 2px 5px black;
  background-color: #3030bb;
  border-radius: 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (max-width: 800px) {
  div.burger {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(transparent 24%, #ffcc00 27%, #ffcc00 37%, transparent 40%, transparent 44%, #ffcc00 47%, #ffcc00 57%, transparent 60%, transparent 64%, #ffcc00 67%, #ffcc00 77%, transparent 80%);
    transition: 0.3s ease;
    cursor: pointer;
  }
}
div.burger:focus {
  width: 55px;
  height: 55px;
  margin-bottom: -5px;
}

footer {
  width: 80%;
  padding: 5px 30px;
  background: linear-gradient(whitesmoke, transparent);
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 800px) {
  footer {
    width: 100%;
    padding: 5px 0;
  }
}
footer p {
  text-align: center;
}
footer div.extLinks {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
}
footer div.extLinks div.fastyle {
  font-size: 5rem;
  color: #3030bb;
  cursor: pointer;
  transition: 0.3s ease;
  width: fit-content;
}
footer div.extLinks div.fastyle:hover {
  transform: scale(1.2);
  filter: hue-rotate(-10deg) brightness(2.5);
}

/*# sourceMappingURL=styles.css.map */
