html {
    font-size: 62.5%;
}

body, div, section, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrap {
    @include flex(column, flex-start, center);
    background-image: url(../images/bg.jpg);
    background-size: 100px;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;

    a.slide {
        color: $blue;
        text-decoration: none;
        position: relative;
        transition: .3s ease-in-out;
        
        @media (max-width: 800px) {
            color: $blue;
            text-decoration: underline;
            line-height: 2;
        }
        
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            transform: translate(-100vw, 30px);
            transition: .3s ease-in-out;                
        }
        
        @media (min-width: 800px) {

            &:hover {
                color: $light_blue;
                
                &::before {
                    background: $light_blue;
                    transform: translateY(30px);
                }
                
            }

        }

    }

    h1 {
        font-family: 'Samantha Upright';
        font-size: 13rem;
        line-height: 2.5;
        text-align: center;
        color: $blue;
        text-shadow: 3px 3px 2px $light_blue;
        background: linear-gradient(whitesmoke, $gold_bg, whitesmoke);
        width: 100vw;

        @media (max-width: 800px) {
            font-size: 7.5rem;
        }
        
    }
    
    div.spacer {
        height: 350px;
        width: calc(100% + 60px);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        @media (max-width: 800px) {
            height: 150px;
            background-size: 200%;
            background-position-x: 70%;                
        }

        &.home {
            background-image: url(../images/lily_sit.jpg);
            background-position-y: 20%;
        }
    
    }
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #ffe8c3;
  padding: 0 2px;
  border: 2px inset #ffe8c3;
}
