@import './variables.scss';
@import './base.scss';
@import './header.scss';
@import './root.scss';

div.burger {
  z-index: 50;
  width: 0;
  height: 0;
  box-shadow: 2px 2px 5px black;
  background-color: $blue;
  border-radius: 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  top: 15px;
  left: 15px;
  
  @media (max-width: 800px) {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(
      transparent 24%, 
      $gold 27%, $gold 37%, 
      transparent 40%, transparent 44%, 
      $gold 47%, $gold 57%, 
      transparent 60%, transparent 64%, 
      $gold 67%, $gold 77%, 
      transparent 80%
      );
      transition: .3s ease;
      cursor: pointer;
    }
    
    &:focus {
      width: 55px;
      height: 55px;
      margin-bottom: -5px;
    }
    
  }
  
  footer {
  width: 100%;
  padding: 50px 30px;
  background: linear-gradient(whitesmoke, transparent);
  @include flex(column, flex-start, center);
  
  @media (max-width: 800px) {
    width: 100%;
    padding: 5px 0;
  }
  
  p {
    text-align: center;
  }
  
  div.extLinks {
    @include flex($j: space-around);
    width: 100%;

    @media (max-width: 800px) {
      flex-wrap: wrap;
      flex-basis: 50%;
    }
    
    div.ext-link {
      @include flex(column, flex-start, center);
      margin-bottom: 50px;
  
      @media (max-width: 800px) {
        flex-basis: 50%;
        margin: 10px auto;
      }
      
      a {
        transition: .3s ease;
        height: 70px;
        @include flex(column, $a: center,$j: center);
        
        &.fastyle {
          font-size: 5rem;
          color: $blue;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
          
        }
        
        &:hover {
          text-decoration: none;
          transform: scale(1.2);
          filter: hue-rotate(-20deg) brightness(2.5);
        } 
        
        img {
          object-fit: contain;
          object-position: 50% 50%;
          height: 50px;
          width: 50px;
        }

        
        span {
          font-size: 1.5rem;

          @media (max-width: 800px) {
            display: none; 
          }

          &:hover {
            text-decoration: underline;
          }

        }
        
      }

    }

  }
  
}

