@use "sass:math";

$blue: #3030bb;
$gold: #ffcc00;
$gold_bg: #ffeea9a4;
$light_blue: #22d4f3;

@font-face {
   font-family: 'Samantha Upright';
   src: url('../fonts/Samantha\ Upright.ttf'),
   url('../fonts/Samantha\ Upright.otf');
}

@font-face {
   font-family: 'Little Star Story';
   src: url('../fonts/Little\ Star\ Story.otf');
}

@mixin flex($d: row, $j: flex-start, $a: flex-start, $w: nowrap) {
   display: flex;
   display: -webkit-flex;
   -webkit-flex-flow: $d $w;
   flex-flow: $d $w;
   -webkit-justify-content: $j;
   justify-content: $j;
   -webkit-align-items: $a;
   align-items: $a;
} 

@mixin round-image-vignette($r: 50%, $f: left) {
   float: $f;
   border-radius: $r;
   box-shadow: 0 0 5px 2.5px inset whitesmoke;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin card {
   width: 100%;
   @include flex(column, center, center);
   background-color: $gold_bg;
   padding: 30px 0;
   margin-bottom: 10px;
   border-radius: 50px;
   box-shadow: #00000056 7px 7px 5px;
   
   h2 {
      font-family: 'Samantha Upright';
      margin: 5px auto;
      font-size: 7.5rem;
      color: $gold;
      text-shadow: 2px 2px 1px black;
      text-align: center;

      @media (max-width: 800px) {
         font-size: 5rem;
         line-height: 1;
      }
   
   }
   
   img {
      border-radius: 25px;
      max-width: 100%;
   }
}

@function scaleBg($x, $y, $tw) {
   @return math.div(calc($y * $tw), $x);
}
